
body {
    background-color: #ef8cbd;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #ef8cbd;
}

.main_search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #000;
    background-color: #F5F5CD;
    background-image: url(../images/fiatbackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center, bottom;
    background-attachment: fixed;
}

.main__heading {
    font-size: 30vmin;
}

article.column {
    height: 100vh;
    background-color:#000;
    /* background-color:#ef8cbd; */
}

.column_heading {
    text-align: center;
}

.column-wrap {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.column__block {
    background-color: #ef8cbd;
    height: 50vh;
    width: 33.33%;
    transition: all 2.5s;
}

.column__block:hover {
    background-color: #fff;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform:scale(1);
    transition: all 5s;
}

.image-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vw;
}

.nav {
    display: flex;
}

.nav__item {
    padding: 17px 1% 17px;
}

.nav__item:hover {
    text-decoration: underline;
}

.nav__link {
    color: #000;
}

.registration_name,
.autorisation_name,
.search_name {
    color: #000;
    font-size: 3vh;
}

 .regist, 
 .autor,
 .search {
    position: absolute;
    padding: 100px;
    top: 50%;
    left: 50%;
    border: 2px solid black;
    border-radius: 10%;
    text-align: center;
    background-color: #fff;
}

.search { 
    margin-top: -230px;
    margin-left: -200px;
}

.regist, 
.autor{
    margin-top: -155px;
    margin-left: -170px;
}


.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.checkbox_text {
    font-size: 16px;
    color: #000;
}
